.dashboard {
  height: 850px;
  width: 1000px;

  background-color: black;

  border-radius: 20px;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;

  font-family: var(--font);

  color: white;
}
